#filmsPreview
{
    height: 250px;
}

.filmpreviewbox
{
    border: black solid 1px;
}

.filmpreviewbox title
{
    word-wrap:break-word;
}

.filmpreviewbox duration
{
    text-align: center;
}

.filmpreviewbox img
{
    width: 200px;
    height: 278px;
}